{% extends 'base.html.twig' %}

{% block titre %}Nouvelle Formation{% endblock %}

{% block contenuAutre %}
    <h1>Créer une nouvelle Formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">retour à la liste</a>
{% endblock %}
