{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} : stage
{% endblock %}

{% block entete %}
    <h1> {{ name }} </h1>
{% endblock %}

{% block contenu %}
    <h1>Cette page affichera le descriptif du stage ayant pour identifiant {{ identifiant }} </h1>
{% endblock %}
